<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="82f6ef">  <td>18/11/07 07:25:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.finserve.runner.TestRunner@5f341870]">feature</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/11/07 07:25:20</td>   <td>-859</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.finserve.runner.TestRunner@5f341870]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>18/11/07 07:25:20</td>   <td>-1269</td> <td title="&gt;&gt;TestRunner.suiteSetUp()[pri:0, instance:com.finserve.runner.TestRunner@5f341870]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>18/11/07 07:26:05</td>   <td>43482</td> <td title="&lt;&lt;TestRunner.suiteTearDown()[pri:0, instance:com.finserve.runner.TestRunner@5f341870]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/11/07 07:26:05</td>   <td>43417</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.finserve.runner.TestRunner@5f341870]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
</table>
