<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8b7f67">  <td>18/11/07 05:50:25</td>   <td>0</td> <td title="&gt;&gt;TestRunner.suiteSetUp()[pri:0, instance:com.finserve.runner.TestRunner@4f7d0008]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1715998167</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/11/07 05:50:25</td>   <td>351</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.finserve.runner.TestRunner@4f7d0008]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1715998167</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/11/07 05:50:27</td>   <td>1528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.finserve.runner.TestRunner@4f7d0008]">feature</td> 
  <td>main@1715998167</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/11/07 05:50:39</td>   <td>13858</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.finserve.runner.TestRunner@4f7d0008]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1715998167</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>18/11/07 05:50:39</td>   <td>13896</td> <td title="&lt;&lt;TestRunner.suiteTearDown()[pri:0, instance:com.finserve.runner.TestRunner@4f7d0008]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1715998167</td>   <td></td> </tr>
</table>
